body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background: #f9f9f9;
}
header, footer {
  text-align: center;
  padding: 1rem;
  background: #e1eaff;
}
main {
  display: grid;
  gap: 2rem;
  padding: 1rem;
}
#ad-space {
  margin-top: 2rem;
  text-align: center;
}
